/* ====== WEB COMPONENT =======*/
/* ====== formulario =======*/

.container-form {
    width: 50%;
    margin: 0 auto;
}

.form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form h2 {
    font-family:sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}
.form p {
    text-align: center;
    font-family: sans-serif;
    padding: .5rem;
}
.form label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: .5rem;
}
.form input {
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-family: arial, sans-serif;
    margin-block-start: .8rem;
    opacity: .6;
}
.textarea {
    outline: none;
    border: none;
    border-radius: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* =============FORMS two =========== */
.forms {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.forms h2 {
    font-family:sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}