* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
}
main {
    width: 100%;
}
section {
    width: 100%;
}
h1 {
    text-align: center;
    margin: 2rem 0;
}
